type project
owners
    devboy
authors 
    devboy
projectUrl
    http://github.com/devboy/Substance
iconUrl
    https://raw.githubusercontent.com/devboy/Substance/master/docs/files/img/logo.png
licenseUrl
    http://github.com/devboy/Substance/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    ...
summary
    ...
description
    ...


